<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/400.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/public/warning.png">
    <title>400</title>
</head>

<body>
    <video autoplay muted loop id="background-video">
        <source src="https://videos.pexels.com/video-files/4124198/4124198-hd_1920_1080_24fps.mp4" type="video/mp4">

        Your browser does not support the video tag.
    </video>
    <div>
        <p>BAD REQUEST, WHAT ARE YOU TRYING TO DO!</p>
        <img src="/static/public/undraw_warning_re_eoyh.svg" alt="Warning">
    </div>
</body>

</html>