<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/404.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Londrina+Sketch&display=swap" rel="stylesheet">
    <title>404</title>
</head>

<body>
    <video autoplay muted loop id="background-video">
        <source src="https://videos.pexels.com/video-files/4124198/4124198-hd_1920_1080_24fps.mp4" type="video/mp4">

        Your browser does not support the video tag.
    </video>
    <div class="container">
        <div class="e404-container">
            <div class="num">4</div>
            <div><img class="error-img" src="/static/public/vinyl.png" alt="error"></div>
            <div class="num">4</div>
        </div>
        <!-- <h1>404</h1> -->
        <p>LOOKS LIKE YOU'RE LOST</p>
        <p>GO BACK TO THE <a href="/">HOMEPAGE</a></p>
    </div>
</body>

</html>