<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/search_Filters.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <title>Result</title>

</head>

<body>
    <video autoplay muted loop id="background-video">
        <source src="https://videos.pexels.com/video-files/4124198/4124198-hd_1920_1080_24fps.mp4" type="video/mp4">

        Your browser does not support the video tag.
    </video>
    <div class="button">
        <a href="/">
            <button>Home</button>
        </a>
    </div>
    <h1>Results</h1>
    <div class="container">
        {{range .}}

        <div class="card">
            <a href="informations/{{.Id}}"><img src="{{.Image}}" alt="{{.Name}}"></a>
            {{.Name}}
        </div>
        {{end}}
    </div>
</body>

</html>